[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
beautifulsoup4 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
flask-cors = "*"
gunicorn = "*"
celery = "*"
redis = "*"
async-timeout = "*"

[dev-packages]
python-dotenv = "*"
pytest = "*"
requests-mock = "*"

[requires]
python_version = "3.12"
